#page-container, #page-leftbar, .focusedform {
    background-color: #687285;
}
#sidebar i {
    color: #b4b9c2;
}
#sidebar>li.active>a, #sidebar li.active i, #sidebar li.active a:hover i {
    background-color: #4187df;
}
#sidebar>li.active>a, body.collapse-leftbar #sidebar>li.active:hover>a, body.collapse-leftbar #sidebar>li.active:hover>a i {
    color: #fff;
}
#sidebar a:hover, body.collapse-leftbar #sidebar>li:hover, body.collapse-leftbar #sidebar>li.keep-open {
    background-color: #4e5666;
}
#sidebar a:hover, #sidebar a:hover i, body.collapse-leftbar #sidebar>li:hover>a, body.collapse-leftbar #sidebar>li:hover>a i, body.collapse-leftbar #sidebar>li.keep-open>a, body.collapse-leftbar #sidebar>li.keep-open>a i {
    color: #fff;
}
#sidebar ul, #sidebar ul li a {
    background-color: #576173;
}
#sidebar li a, #sidebar ul li.active:not(.open)>a {
    color: #fff;
}
#sidebar ul li a {
    color: #b4b9c2;
}
#search form .search-query {
    background: #4e5666;
    color: #b4b9c2;
}
#search form .search-query:-moz-placeholder {
    color: rgba(180, 185, 194, .5);
}
#search form .search-query::-moz-placeholder {
    color: rgba(180, 185, 194, .5);
}
#search form .search-query:-ms-input-placeholder {
    color: rgba(180, 185, 194, .5);
}
#search form .search-query::-webkit-input-placeholder {
    color: rgba(180, 185, 194, .5);
}
#search form button[type=submit] i {
    color: #b4b9c2;
}
body.collapse-leftbar #search.keep-open>a {
    background: #4e5666!important;
}
body.collapse-leftbar #search.keep-open>a:hover {
    background: #b4b9c2;
}
#sidebar .divider {
    background-color: #576173;
}
#sidebar .divider:hover {
    background-color: #576173;
}

/**
 * Header bar
 */
.navbar-inverse {
    background-color: #4E5666;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #264e90;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #687285;
}
header .toolbar .dropdown, header #headerbardropdown, header #rightmenu-trigger {
    border-left: 1px solid #687285;
}
header #leftmenu-trigger {
    border-right: 1px solid #687285;
}
@media (max-width:480px) {
    ul.toolbar {
        background-color: #4E5666;
    }
}

/**
 * Panels
 */
.panel-primary .panel-heading {
    color: #fff;
    background-color: #4187df;
    border-color: #4187df;
}
.panel-primary .panel-body {
    border-top: 2px solid #4187df;
}
.panel-primary {
    border-color: #4187df;
}
