#page-container, #page-leftbar, .focusedform {
    background-color: #716885;
}
#sidebar i {
    color: #b8b4c2;
}
#sidebar>li.active>a, #sidebar li.active i, #sidebar li.active a:hover i {
    background-color: #90cc58;
}
#sidebar>li.active>a, body.collapse-leftbar #sidebar>li.active:hover>a, body.collapse-leftbar #sidebar>li.active:hover>a i {
    color: #fff;
}
#sidebar a:hover, body.collapse-leftbar #sidebar>li:hover, body.collapse-leftbar #sidebar>li.keep-open {
    background-color: #564e66;
}
#sidebar a:hover, #sidebar a:hover i, body.collapse-leftbar #sidebar>li:hover>a, body.collapse-leftbar #sidebar>li:hover>a i, body.collapse-leftbar #sidebar>li.keep-open>a, body.collapse-leftbar #sidebar>li.keep-open>a i {
    color: #fff;
}
#sidebar ul, #sidebar ul li a {
    background-color: #605773;
}
#sidebar li a, #sidebar ul li.active:not(.open)>a {
    color: #fff;
}
#sidebar ul li a {
    color: #b8b4c2;
}
#search form .search-query {
    background: #564e66;
    color: #b8b4c2;
}
#search form .search-query:-moz-placeholder {
    color: rgba(184, 180, 194, .5);
}
#search form .search-query::-moz-placeholder {
    color: rgba(184, 180, 194, .5);
}
#search form .search-query:-ms-input-placeholder {
    color: rgba(184, 180, 194, .5);
}
#search form .search-query::-webkit-input-placeholder {
    color: rgba(184, 180, 194, .5);
}
#search form button[type=submit] i {
    color: #b8b4c2;
}
body.collapse-leftbar #search.keep-open>a {
    background: #564e66!important;
}
body.collapse-leftbar #search.keep-open>a:hover {
    background: #b8b4c2;
}
#sidebar .divider {
    background-color: #605773;
}
#sidebar .divider:hover {
    background-color: #605773;
}

/**
 * Header bar
 */
.navbar-inverse {
    background-color: #564e66;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #564e66;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #564e66;
}
header .toolbar .dropdown, header #headerbardropdown, header #rightmenu-trigger {
    border-left: 1px solid #564e66;
}
header #leftmenu-trigger {
    border-right: 1px solid #564e66;
}
@media (max-width:480px) {
    ul.toolbar {
        background-color: #564E66;
    }
}

/**
 * Panels
 */
.panel-primary {
    border-color: #191a1d;
}
.panel-primary .panel-heading {
    color: #fff;
    background-color: #564e66;
    border-color: #191a1d;
}
.panel-primary .panel-body {
    border-top: 2px solid #191a1d;
}

/**
 * Paginator
 */
.pagination>li>a, .pagination>li>span {
    background-color: #fff;
    border: 1px solid #d2d3d6;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    background-color: #edeef0;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    color: #fff;
    background-color: #90cc58;
    border-color: #90cc58;
}
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
    color: #aeafb1;
    background-color: #fff;
    border-color: #d2d3d6;
}
a {
    color: #90cc58;
}
a:hover, a:focus {
    color: #90cc58;
}
/**
 * Bottons
 */
.btn-primary {
    color: #fff;
    background-color: #90cc58;
    border-color: #90cc58;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #70aa3a;
    border-color: #70aa3a;
}
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #90cc58;
    border-color: #90cc58;
}