[submodule "module/ModulusContent"]
	path = module/ModulusContent
	url = git@github.com:ZF2-Modulus/ModulusContent.git
[submodule "module/ModulusContact"]
	path = module/ModulusContact
	url = git@github.com:ZF2-Modulus/ModulusContact.git
[submodule "module/ModulusSecurity"]
	path = module/ModulusSecurity
	url = git@github.com:ZF2-Modulus/ModulusSecurity.git
[submodule "module/ModulusUser"]
	path = module/ModulusUser
	url = git@github.com:ZF2-Modulus/ModulusUser.git
[submodule "module/ModulusMail"]
	path = module/ModulusMail
	url = git@github.com:ZF2-Modulus/ModulusMail.git
[submodule "module/ModulusLogInterface"]
	path = module/ModulusLogInterface
	url = git@github.com:ZF2-Modulus/ModulusLogInterface.git
[submodule "module/ModulusLog"]
	path = module/ModulusLog
	url = git@github.com:ZF2-Modulus/ModulusLog.git
